
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<script src="~/Scripts/angular.js"></script>
	<script src="~/Scripts/angular-route.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

	

    <div ng-app="myApp" >

		<div ng-view=""></div>

		<div ng-controller="myCtrl as $ctrl">
			<p>List users</p>

			<ul>
				<item-user></item-user>
			</ul>

			<form name="userForm">
				<input type="text" name="username" ng-model="$ctrl.username" value="" />  <input type="button" value="Add" ng-click="$ctrl.addUser()" />
			</form>
			@*<span ng-show="userForm.email.$invalid">The email is invalid.</span>*@
		</div>
    </div>

	<script src="~/Scripts/myScript/myScript.js"></script>
</body>
</html>
